# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
/htmlcov/
.tox/
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
cover/
*.csv
*.pkl
*.txt

.Python
*.egg-info/
.eggs/
dist/
build/
sdist/
.env/
.venv/
lib/
lib64/
include/
share/
bin/
parts/
var/
pip-log.txt
pip-delete-this-arg.txt

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/
profile_default/
ipython_config.py
*.bak
*.orig
*.swp
*.swo

# Misc
*.log
*.sqlite3
*.db
!__init__.py